
  
  @font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto/Roboto-Black.ttf");
	font-style: normal;
	font-weight: normal;
  }
  
    
  @font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto/Roboto-Medium.ttf");
	font-style: normal;
	font-weight: normal;
  }
  